.lists {
    height: auto;
    border-bottom: 1px gray solid;
    display: flex;
    justify-content: flex-start;
}

.img {
    flex: 1;
}

.lists-text-container {
    flex: 3;
}

a{
    display:inline-block;
}